
@keyframes slideOutLeft{
  from{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0,0,0);
  }
  to{
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0,0);
  }
}

@keyframes slideInLeft{
  from{
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%,0,0);
    visibility: visible;
  }
  to{
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0,0);
  }
}

.page-enter{
  animation: slideInLeft 0.2s forwards;  
}

.page-exit{
  animation: slideOutLeft 0.2s forwards;  
}

.fade-appear
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-appear-active
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms linear 1500ms;
  }

  .fade-exit{
    opacity: 1;
  }

  .fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 1500ms linear;
  }

  .my-navButton:active{
    border: 0ch;
    background-color: burlywood;
  }

  .my-bookName{
    width: 8rem; 
    height: 8rem;
    padding: 2rem;
  }

  .my-title{
    font-size: 125%;
  }

  .my-sub-title{
    font-size: 100%;
  }

  .my-fullPage{
    height: 100vh;
  }

  @media screen and (max-width: 666.98px){
    .my-navButton{
      display: none;
    }

    .my-title{
      font-size: 80%;
    }

    .my-sub-title{
      font-size: 60%;
    }
  

    .my-bookName{
      width: 4rem;
      height: 4rem;        
      padding: 0rem;    
    }
  }
  