.App {
  text-align: center;
  background: bg-light;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f8f9fa;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: black;
}

.App-menu {
  background-color: #f8f9fa;
  min-height: 10vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  margin-top: 0 !important;
}

.App-link {
  color: #61dafb;
}

.my-title {
  font-size: 1.6rem;
}

.my-transparentDark{
  background-color: rgba(108, 117, 125, 0.93);
}

h2.sidelines { text-align: center; border-bottom: 1px solid #b4b8b8; height: 0.75em; }
h2.sidelines span { display: inline-block; background: #f8f9fa; padding:0 0.5em; }

h2.sidelinesdark { text-align: center; border-bottom: 1px solid rgb(211, 208, 208); height: 0.75em; }
h2.sidelinesdark span { display: inline-block; background: #6c757d; padding:0 0.5em; }

@media screen and (max-width: 991.98px) and (min-width:768px){
  .my-title{
    font-size: 3.2rem;
  }
}

@media screen and (min-width:992px){
  .my-title{
    font-size: 4.8rem;
  }
}

.my-toolbar {  
  position: fixed;
  
  top: 1rem;
  right: 1rem;
  z-index: 2;  
}



.my-navbar {  
  
  position: fixed;
  top: 0rem;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 992px){
  .App-header{
    margin-top: 1rem;
  }
}

